body {
  text-align: center;
  font-size:170%;
  /* padding-top: 5%; */
  font-family: 'Patua One', cursive;
  /* font-family: 'Abril Fatface', cursive; */
  background: #101010;
  color: #ccc;
}

input, button, select {
  color: #333;
  margin: 4px 3px;
  text-align: center;
  border-radius: 3px;
}

input, select {
  min-width: 220px;
}

#title-heading{
  text-align: center;
  font-size: 62pt;
  /* padding-top: 5%; */
  color: rgb(219, 120, 184);
  font-family: 'Patua One', cursive;
  /* font-family: 'Abril Fatface', cursive; */
}

h3{
  text-align: center;
  font-size: 22pt;
  /* padding-top: 5%; */
  color: rgb(216, 166, 199);
  font-family: 'Patua One', cursive;
  /* font-family: 'Abril Fatface', cursive; */
}

#kanji-text{
  text-align: center;
  font-size: 200pt;
  /* padding-top: 5%; */
  color: rgb(143, 147, 154); /*color: rgb(81, 83, 86);*/
  font-family: 'Patua One', cursive;
  /*font-family: 'Abril Fatface', cursive;*/
}

#kanji-input{
  text-align: center;
  padding: 10px;
  background-color: transparent;
  border: 0;
  color: #bbb; /*color: gray;*/
  border-bottom: 1.5px solid #ccc;
  font-size:28px;
}

#kanji-input:focus{
  outline: none !important;
  border: 1px solid #ccc;
  border-bottom: 1.5px solid #ccc;
  box-shadow: 0 0 5px #ccc;
}

.setting {
  display: inline-block;
}

#settings {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
  }